<div id="uploadAvatar">
    <link rel="stylesheet" href="{{ STATIC_URL }}imgareaselect/css/imgareaselect-default.css" type="text/css" />
    <script type="text/javascript" src="{{ STATIC_URL }}imgareaselect/jquery.imgareaselect.min.js"></script>
    
    <style type="text/css">
        #uploadAvatarBtnLayout {
            position: relative;
        }
        
        #uploadAvatarBtnLayout {
            width: 100px;
            height: 40px;
            overflow: hidden;
        }
        
        #uploadAvatarBtnLayout button {
            width: 100%;
            height: 100%;
        }
        
        #uploadAvatarInputFile {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.2;
            filter: alpha(opacity=20);
            font-size: 200%;
        }
        
        #uploadAvatarSelectArea {
            width: 300px;
            height: 300px;
            border: 1px solid #ddd;
            overflow: hidden;
            float: left;
        }
        
        #uploadAvatarPreviewArea {
            width: 50px;
            height: 50px;
            border: 1px solid #ddd;
            overflow: hidden;
            float: right;
        }
    </style>
    
    <script type="text/javascript">
        $(function(){
            $('#uploadAvatarBtnLayout button').click(function(){
                return false;
            });
            
            var input_width = $('#uploadAvatarBtnLayout').width();
            var input_height = $('#uploadAvatarBtnLayout').height();
            
            $('#uploadAvatarInputFile').width(input_width).height(input_height).change(function(){
                if($(this).val() == ''){return;}
                $('#uploadAvatarForm').submit();
                $(this).val('');
            });
            
            
            $('#uploadAvatarCropSubmit').click(function(){
                $(this).attr('disabled', 'disabled');
                var x1 = $('#uploadAvatarValueX1').val();
                var y1 = $('#uploadAvatarValueY1').val();
                var x2 = $('#uploadAvatarValueX2').val();
                var y2 = $('#uploadAvatarValueY2').val();
                if(x1 == "" || y1 == "" || x2 == "" ||y2 == "") {
                    $(this).removeAttr('disabled');
                    return false;
                }
                
                $('#uploadAvatarCropForm').submit();
                $('#uploadAvatarValueX1').val('');
                $('#uploadAvatarValueY1').val('');
                $('#uploadAvatarValueX2').val('');
                $('#uploadAvatarValueY2').val('');
                
                $(this).removeAttr('disabled');
                return false;
            });
            
        });
        
        function upload_avatar_error(error_msg) {
            alert(error_msg);
        }
        
        
        function upload_avatar_success(image_url) {
            $('#uploadAvatarSelectArea').empty();
            $('#uploadAvatarPreviewArea').empty();
            $('#uploadAvatarPreviewArea').append('<img />');
            $('#uploadAvatarPreviewArea img').attr('src', image_url);
            
            $('#uploadAvatarSelectArea').append('<img />');
            $('#uploadAvatarSelectArea img').attr('src', image_url).load(function(){
                $(this).unbind('load');
                
                var img_width = $(this).width();
                var img_height = $(this).height();
                
                if(img_width > 300 || img_height > 300) {
                    if(img_width >= img_height) {
                        $(this).css('width', "300px");
                    }
                    else {
                        $(this).css('height', "300px");
                    }
                }
                
                img_width = $(this).width();
                img_height = $(this).height();
                
                $(this).imgAreaSelect({
                    handles: true,
                    aspectRatio: "1:1",
                    fadeSpeed: 100,
                    minHeight: 50,
                    minWidth: 50,
                    x1: img_width/2-25 > 0 ? img_width/2-25 : 0,
                    y1: img_height/2-25 > 0 ? img_height/2-25 : 0,
                    x2: img_width/2+25 > img_width ? img_width : img_width/2+25,
                    y2: img_height/2+25 > img_height ? img_height : img_height/2+25,
                    onSelectChange: updateCoors
                });
            });
        }
        
        function updateCoors(img, selection) {
          $("#uploadAvatarValueX1").val(selection.x1);
          $("#uploadAvatarValueY1").val(selection.y1);
          $("#uploadAvatarValueX2").val(selection.x2);
          $("#uploadAvatarValueY2").val(selection.y2);
          updatePreview(img, selection);
        };
        
        function updatePreview(img, selection) {
          if(parseInt(selection.width) > 0) {
            var ratiox = 50 / selection.width;
            var ratioy = 50 / selection.height;
            $("#uploadAvatarPreviewArea img").css({
              width: Math.round(ratiox * img.width) + 'px',
              marginLeft: '-' + Math.round(ratiox * selection.x1) + 'px',
              marginTop: '-' + Math.round(ratioy * selection.y1) + 'px'
            });
          }
        };
        
        function crop_avatar_success(msg) {
            $('#uploadAvatarCropResult').hide().text(msg).show(200);
        };
    </script>
    
    <form id="uploadAvatarCropForm" action="{% url 'uploadavatar_crop' %}" method="post" target="uploadAvatarIframe" style="display: none;">
        {% csrf_token %}
        <input id="uploadAvatarValueX1" type="text" name="x1"/>
        <input id="uploadAvatarValueY1" type="text" name="y1"/>
        <input id="uploadAvatarValueX2" type="text" name="x2"/>
        <input id="uploadAvatarValueY2" type="text" name="y2"/>
    </form>
    
    
    
    <div id="uploadAvatarUploadArea">
        <form id="uploadAvatarForm" action="{% url 'uploadavatar_upload' %}" method="post" target="uploadAvatarIframe" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="uploadAvatarBtnLayout">
                <button>Choose File</button>
                <input type="file" id="uploadAvatarInputFile" name="uploadavatarfile" />
            </div>
        </form>
    </div>
    <iframe id="uploadAvatarIframe" name="uploadAvatarIframe" style="display: none;"></iframe>
    
    <div id="uploadAvatarSelectArea"></div>
    <div id="uploadAvatarPreviewArea"></div>
    
    <div style="clear: both;"></div>
    
    <div id="uploadAvatarBtns">
        <button id="uploadAvatarCropSubmit">Crop</button>
    </div>
    
    <div id="uploadAvatarCropResult" style="display: none;"></div>
</div>
